.footer
  .footer__container
    .footer__copyright Copyright 1975 - 2021
    nav.nav-horizontal.nav-horizontal--light
      a.nav-horizontal__link(href='/imprint') Imprint
      a.nav-horizontal__link(href='/privacy-policy') Privacy Policy
