- var formData = {"defaults":{"name":"Jon Snow","phone":"(203) 861 4874","email":"json@ericmasaba.co.uk","cta":"SUBMIT","poster":"//app.neales.co/img/superhero3.jpg","title":"SUPER VILLAIN JSON"},"countries":{"UK":"Great Britain","FR":"France","US":"United States","CA":"Canada","SE":"Sweden","ND":"Netherlands","ZA":"South Africa","DE":"Germany","JP":"Japan","CB":"Cambodia","RU":"Russia","IN":"India","CN":"China"}}
- var countryArray = {"countries":["UK","AT","RO","RU"]} 
